<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to All</h1>
    <div>
        <p th:text="'Вы вошли, как ' + ${#authentication.name} "></p>
    </div>
<!--    <div>-->
<!--        <p>Посмотреть всех пользователей</p>-->
<!--        <a href="/person">Список пользователей</a>-->
<!--    </div>-->
    <div>
        <p>Перейти в админ панель</p>
        <a href="/admin">Админ панель</a>
    </div>
    <div style="margin-top: 50px">
        <a href="/logout">Выйти из системы</a>
    </div>
</body>
</html>